.contact-me-container {
    background-color: #fafafa;
    box-shadow: 0px 10px 40px -20px hsl(229, 6%, 66%);
    margin: 30px;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    height: 80vh;
}

.contact-me-header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #4c4e61;
    margin-top: 35px;
}

.contact-info-container {
    background-color: var(--prussian-blue);
    color: #ffffff;
    width: 35%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 35px;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.contact-info-header {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-info-sub-header {
    font-size: 14px;
    margin-bottom: 90px;
}

.contact-info-channel {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.contact-info-channel-icon {
    height: 25px;
    margin-right: 15px;
}

.contact-info-channel:not(:last-of-type) {
    margin-bottom: 40px;
}

.social-media-link {
    text-decoration: none;
    margin-right: 15px;
}

.social-media-icon {
    background-color: transparent;
    border-radius: 100%;
    padding: 5px;
    height: 40px;
    transition: all .2s ease-in-out;
}

.social-media-icon:hover {
    transform: scale(1.2);
    background-color: rgba(46, 196, 182, 0.78);
}

.contact-info-graphic-circle {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-color: var(--tiffany-blue);
    position: absolute;
    bottom: -110px;
    right: -110px;
}

.contact-info-graphic-circle-overlay {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: var(--mikado-yellow);
    position: absolute;
    bottom: 70px;
    right: 15px;
    opacity: 0.8;
}

.contact-form-container {
    /*background-color: var(--orange-peel);*/
    display: flex;
    width: 65%;
    padding: 35px;
}

.contact-form-container form {
    width: 100%;
    display: flex;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-input-container {
    width: 45%;
}

.form-input-container--full-width {
    width: 100%;
}

.form-input-label {
    display: block;
    font-size: 12px;
    color: var(--prussian-blue);
}

.form-input {
    border-bottom: 2px solid #c4c4c4;
    padding: 10px;
    margin-bottom: 60px;
    width: 100%;
    transition: all .5s ease-in-out;
}

.form-input:focus {
    border-bottom: 2px solid var(--prussian-blue);
}

.form-input::placeholder {
    color: #c4c4c4;
}

.form-submit-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.form-submit-btn {
    padding: 15px 25px;

    border-radius: 10px;

    background-color: var(--prussian-blue);
    color: #ffffff;
    box-shadow: 0px 10px 40px -15px hsl(229, 6%, 66%);
    transition: all .2s ease-in-out;

    cursor: pointer;
}

.form-submit-btn:hover {
    filter: brightness(90%);
    transform: scale(0.98);
}

.form-submit-btn:active {
    filter: brightness(85%);
    box-shadow: 0px 10px 40px -20px hsl(229, 6%, 50%);
    transform: scale(0.95);
}
